---

---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body>
    <a href="/">トップ</a>
    <a href="/about">このサイトについて</a>
    <a href="/blog">記事</a>

    <h1>Aboutページです</h1>
    <p>特に何も書くことが無い</p>
	</body>
</html>
