---
import '../styles/global.css'

import Footer from '../components/Footer.astro'
import Navigation from '../components/Navigation.astro'

const pageTitle = "このサイトについて"

const skillColor = "navy"
const fontWeight = "bold"
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
    <style define:vars={{skillColor, fontWeight}}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .para {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
      }
    </style>
	</head>
	<body>
    <Navigation />

    <h1>Aboutページです</h1>
    <p class="para">特に何も書くことが無い</p>
    <Footer />
	</body>
</html>
