---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "Blog"
---
<BaseLayout pageTitle={pageTitle}>
  <h3>記事一覧</h3>
  <ul>
    <li><a href="/posts/rebuild-blog">ブログをAstroで作り直した</a></li>
  </ul>
</BaseLayout>